@import '../../../base/variables';

.shopping-cart__content {
    height: calc(50% - 2rem);
    margin: 1rem 0;
    overflow-y: auto;

    @media screen and (max-width: 600px) {
        height: 60%;
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: $scrollbar-bg-color;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbar-thumb-bg-color;
        border-radius: 6px;
    }

    .content-notification {
        height: 100%;
        border-top: 1px solid $separating-line-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        color: $secondary-text-color;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
    }

    @import '../../../components/ShoppingCartList/shoppingCartList';
}