$scrollbar-bg-color: #EEE;
$scrollbar-thumb-bg-color: #CCC;

$background-color: white;

$separating-line-color: #DDD;

$primary-text-color: #222;
$secondary-text-color: #666;
$third-text-color: #AAA;

$default-transition: 0.3s ease-in-out;

$close-btn-bg-color: #EEE;
$close-btn-color: #666;

$accent-color: rgb(255, 208, 0);
$accent-other-primary-style: rgb(230, 202, 78);
$accent-color-secondary-style: rgb(255, 254, 247);
$accent-color-transparent-style: rgb(255, 208, 0, 0.1);

$primary-btn-bg-color: $accent-color;
$primary-btn-color: #222;

$primary-btn-hover-bg-color: #444;
$primary-btn-hover-color: #EEE;

$disabled-btn-bg-color: #DDD;
$disabled-btn-color: #888;

$box-shadow-color: rgba(0, 0, 0, 0.1);

$input-disabled-bg-color: #FAFAFA;
$input-disabled-border-color: #EEE;
$input-disabled-color: #666;