@charset "UTF-8";
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.main-container .header {
  min-height: 180px;
  padding-top: 2rem;
  background-color: #666;
}
@media screen and (max-width: 576px) {
  .main-container .header {
    height: auto;
    padding-bottom: 4rem;
  }
}
.main-container .header a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.main-container .header .active-link {
  font-weight: 600;
  cursor: default;
}
.main-container .header__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  max-width: 1500px;
  padding: 0 3rem;
  margin: 0 auto;
  background-color: rgba(20, 20, 20, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 12px;
}
@media screen and (max-width: 1500px) {
  .main-container .header__bar {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 992px) {
  .main-container .header__bar {
    padding-right: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .main-container .header__bar {
    height: auto;
    padding: 2rem 0;
    flex-direction: column;
    gap: 1rem 0;
  }
}
.main-container .header__bar .bar__logoname {
  font-size: 22px;
  font-weight: 700;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 576px) {
  .main-container .header__bar .bar__logoname {
    font-size: 10vw;
  }
}
.main-container .header__bar .bar__menu {
  display: flex;
}
.main-container .header__bar .bar__menu .menu-links {
  display: flex;
}
@media screen and (max-width: 992px) {
  .main-container .header__bar .bar__menu .menu-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    margin: 0 3rem;
    top: calc(100% + 5px);
    left: 0;
    width: calc(100% - 6em);
    border-radius: 12px;
    background-color: rgba(45, 45, 45, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .main-container .header__bar .bar__menu .menu-links .menu__element {
    width: 90%;
    justify-content: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .main-container .header__bar .bar__menu .menu-links {
    margin: 0;
    width: 100%;
  }
}
.main-container .header__bar .bar__menu .menu-links-mobile-open {
  opacity: 1;
  visibility: visible;
  top: calc(100% + 15px);
}
.main-container .header__bar .bar__menu .menu-settings {
  display: flex;
}
@media screen and (max-width: 576px) {
  .main-container .header__bar .bar__menu .menu-settings {
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
  }
}
.main-container .header__bar .bar__menu .menu__element {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 1rem;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease-in-out;
}
.main-container .header__bar .bar__menu .menu__element--shopping-cart {
  cursor: pointer;
}
.main-container .header__bar .bar__menu .menu__element__text {
  margin-top: -1px;
  margin-left: 0.5rem;
}
.main-container .header__bar .bar__menu .menu__element .material-symbols-outlined {
  position: relative;
  font-size: 22px;
  font-weight: 300;
}
.main-container .header__bar .bar__menu .menu__element--random-foody {
  padding: 0.4rem 0.6rem;
  background-color: rgb(255, 208, 0);
  border: 1px solid transparent;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  color: #222;
  font-size: 13px;
  font-weight: 600;
  text-transform: none;
  transition: 0.3s ease-in-out;
}
.main-container .header__bar .bar__menu .menu__element--random-foody:hover {
  background-color: transparent;
  border: 1px solid rgb(255, 208, 0);
  color: rgb(255, 208, 0);
}
.main-container .header__bar .bar__menu .menu__element--random-foody:hover .material-symbols-outlined {
  color: rgb(255, 208, 0);
}
.main-container .header__bar .bar__menu .menu__element--random-foody .material-symbols-outlined {
  font-size: 18px;
  font-weight: 600;
  margin-right: 0.5rem;
  color: #222;
  transition: 0.3s ease-in-out;
}
.main-container .header__bar .bar__menu .menu__element--shopping-cart-count {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -18%;
  right: -19%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 208, 0);
  border-radius: 15px;
  font-size: 10px;
  font-weight: 600;
  color: #222;
}
.main-container .header__bar .bar__menu .menu__element--mobile-menu {
  display: none;
}
@media screen and (max-width: 992px) {
  .main-container .header__bar .bar__menu .menu__element--mobile-menu {
    display: block;
  }
}
.main-container .header__content {
  max-width: 1500px;
  padding: 8rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
@media screen and (max-width: 1500px) {
  .main-container .header__content {
    margin: 0 3rem;
  }
}
@media screen and (max-width: 576px) {
  .main-container .header__content {
    padding: 2rem 0;
  }
}
.main-container .header__content__title {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 576px) {
  .main-container .header__content__title {
    font-size: 28px;
    text-align: center;
  }
}
.main-container .header__content__description {
  width: 80%;
  font-size: 18px;
  color: #AAA;
}
@media screen and (max-width: 576px) {
  .main-container .header__content__description {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
}
.main-container .shopping-cart-container {
  width: 500px;
  height: calc(100vh - 4rem);
  margin: 2rem 0;
  border-radius: 12px 0px 0px 12px;
  background-color: white;
  position: fixed;
  z-index: 3;
  padding: 1.5rem;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);
  transition: 0.8s cubic-bezier(0.6, 0.48, 0.46, 0.96);
}
.main-container .shopping-cart-container .shopping-cart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 10%;
}
@media screen and (max-width: 600px) {
  .main-container .shopping-cart-container .shopping-cart__header {
    height: auto;
  }
}
.main-container .shopping-cart-container .shopping-cart__header .header__banner {
  height: 70px;
  border-radius: 8px;
  flex: 0.9;
  padding: 1rem;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.main-container .shopping-cart-container .shopping-cart__header .header__banner .image-element {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  z-index: -1;
}
.main-container .shopping-cart-container .shopping-cart__header .header__nav {
  display: flex;
  align-items: center;
  flex: 0.1;
}
.main-container .shopping-cart-container .shopping-cart__header .header__nav .material-symbols-outlined {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 26px;
  border-radius: 35px;
  border: 1px solid #EEE;
  color: #666;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.main-container .shopping-cart-container .shopping-cart__header .header__nav .material-symbols-outlined:hover {
  color: #666;
  background-color: #EEE;
}
.main-container .shopping-cart-container .shopping-cart__description {
  font-size: 14px;
  color: #666;
  height: 15%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .main-container .shopping-cart-container .shopping-cart__description {
    height: auto;
    margin: 2rem 0;
  }
}
.main-container .shopping-cart-container .shopping-cart__content {
  height: calc(50% - 2rem);
  margin: 1rem 0;
  overflow-y: auto;
}
@media screen and (max-width: 600px) {
  .main-container .shopping-cart-container .shopping-cart__content {
    height: 60%;
  }
}
.main-container .shopping-cart-container .shopping-cart__content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #EEE;
  border-radius: 6px;
}
.main-container .shopping-cart-container .shopping-cart__content::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 6px;
}
.main-container .shopping-cart-container .shopping-cart__content .content-notification {
  height: 100%;
  border-top: 1px solid #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #666;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table {
  width: calc(100% - 1rem);
  border-collapse: collapse;
  min-width: 350px;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table__th {
  text-transform: uppercase;
  font-size: 11px;
  color: #AAA;
  font-weight: 600;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table__td {
  font-size: 13px;
  padding: 0.8rem 0.5rem;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__th:first-child,
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__td:first-child {
  width: 35%;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__th:nth-child(2),
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__td:nth-child(2) {
  width: 30%;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__th:nth-child(3),
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__td:nth-child(3) {
  width: 25%;
  text-align: center;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__th:last-child,
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart-table__td:last-child {
  width: 10%;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-image {
  width: 100%;
  height: 50px;
  background-color: #DDD;
  border-radius: 6px;
  background-color: #DDD;
  position: relative;
  overflow: hidden;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-image .product-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-name {
  font-weight: 600;
  margin-top: 0.6rem;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-description {
  display: flex;
  flex-wrap: wrap;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-description .shopping-cart__product-addition {
  font-size: 10px;
  color: #999;
  letter-spacing: 0.35px;
  margin: 1px 0;
  margin-right: 1.25rem;
  text-transform: uppercase;
  position: relative;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-description .shopping-cart__product-addition::after {
  content: "-";
  position: absolute;
  margin-left: 0.5rem;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-description .shopping-cart__product-addition:last-child::after {
  content: "";
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-description .shopping-cart__product-addition:last-child {
  margin-right: 0;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-down,
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-up {
  background-color: #EEE;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease-in-out;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-down:hover,
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-up:hover {
  background-color: #DDD;
}
@media screen and (max-width: 500px) {
  .main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-down,
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-up {
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-down .material-symbols-outlined,
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-up .material-symbols-outlined {
  font-size: 13px;
  font-weight: 700;
  color: #666;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__count-container .shopping-cart__count-value {
  padding: 0 1rem;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-delete {
  width: 30px;
  height: 30px;
  border: 1px solid #DDD;
  border-radius: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-delete:hover {
  background-color: #DDD;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-delete:hover .material-symbols-outlined {
  color: #666;
}
.main-container .shopping-cart-container .shopping-cart__content .shopping-cart-table .shopping-cart__product-delete .material-symbols-outlined {
  font-size: 21px;
  color: #999;
  font-weight: 300;
  margin-top: -0.5px;
  transition: 0.3s ease-in-out;
}
.main-container .shopping-cart-container .shopping-cart__summary {
  height: 25%;
  border-top: 1px solid #DDD;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .main-container .shopping-cart-container .shopping-cart__summary {
    height: auto;
  }
}
.main-container .shopping-cart-container .shopping-cart__summary .summary__container {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
@media screen and (max-width: 600px) {
  .main-container .shopping-cart-container .shopping-cart__summary .summary__container {
    flex-direction: column;
  }
}
.main-container .shopping-cart-container .shopping-cart__summary .container__information .information__paragraph {
  margin: 0;
  font-size: 12px;
  color: #666;
}
.main-container .shopping-cart-container .shopping-cart__summary .container__information .information__paragraph:first-child {
  font-weight: 600;
  color: #222;
}
.main-container .shopping-cart-container .shopping-cart__summary .container__amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
}
.main-container .shopping-cart-container .shopping-cart__summary .container__amount .btn-primary {
  margin-top: 1rem;
  border: 1px solid rgb(255, 208, 0);
  background-color: rgb(255, 208, 0);
  color: #222;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25px;
  font-size: 10px;
  border-radius: 8px;
  width: 200px;
  padding: 0.8rem 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.main-container .shopping-cart-container .shopping-cart__summary .container__amount .btn-primary:hover {
  background-color: #444;
  color: #EEE;
}
.main-container .shopping-cart-container .shopping-cart__summary .container__amount .btn-disabled {
  margin-top: 1rem;
  border: 1px solid #CCC;
  background-color: #DDD;
  color: #888;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25px;
  font-size: 10px;
  border-radius: 8px;
  width: 200px;
  padding: 0.8rem 0;
  cursor: not-allowed;
}
.main-container .shopping-cart-container .shopping-cart__summary .summary__payment {
  font-size: 12px;
  color: #AAA;
}
@media screen and (max-width: 600px) {
  .main-container .shopping-cart-container {
    margin: 0;
    border-radius: 0;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow-y: scroll;
  }
}
.main-container .shopping-cart-open {
  right: 0;
}
.main-container .shopping-cart-close {
  right: -600px;
  -webkit-animation: fadeDownEffect 1s 1s forwards;
          animation: fadeDownEffect 1s 1s forwards;
}
@-webkit-keyframes fadeDownEffect {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeDownEffect {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.main-container .section {
  padding: 6rem 0;
  max-width: 1500px;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .main-container .section {
    margin: 0 1.5rem;
  }
}
.main-container .section a {
  text-decoration: none;
  color: inherit;
}
.main-container .section__header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container .section__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  position: relative;
  display: inline-block;
}
.main-container .section__title::before {
  content: "";
  position: absolute;
  width: 20vw;
  height: 1px;
  background-color: #DDD;
  right: 115%;
  top: 50%;
}
.main-container .section__title::after {
  content: "";
  position: absolute;
  width: 20vw;
  height: 1px;
  background-color: #DDD;
  left: 115%;
  top: 50%;
}
.main-container .section__text {
  font-size: 15px;
  color: #444;
  text-align: center;
}
.main-container .section__products__container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 255px;
  overflow-x: auto;
}
@media screen and (max-width: 1379px) {
  .main-container .section__products__container {
    height: calc(255px + 2rem);
    padding-bottom: 2rem;
  }
}
.main-container .section__products__container .product__card {
  padding: 1.25em;
  border-radius: 24px;
  height: 250px;
  width: 180px;
  min-width: 180px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-container .section__products__container .product__card__large-size {
  width: 500px;
  min-width: 500px;
}
@media screen and (max-width: 600px) {
  .main-container .section__products__container .product__card__large-size {
    width: calc(100vw - 10em);
    min-width: 180px;
  }
}
.main-container .section__products__container .product__card:hover {
  transform: translateY(5px);
}
.main-container .section__products__container .product__card:hover .product__card__description {
  max-height: 50px;
}
.main-container .section__products__container .product__card:hover .product__card__image {
  transform: scale(1.05);
}
.main-container .section__products__container .product__card a {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.main-container .section__products__container .product__card__image {
  background-color: #EEE;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  transition: 0.45s ease-in-out;
}
.main-container .section__products__container .product__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .section__products__container .product__card__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}
.main-container .section__products__container .product__card__image--not-available {
  background-color: #EEE;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: grayscale(1);
}
.main-container .section__products__container .product__card__image--not-available::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, transparent, rgb(45, 45, 45));
}
.main-container .section__products__container .product__card__header {
  display: flex;
  justify-content: space-between;
}
.main-container .section__products__container .product__card__categories {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25em 0.5em;
  pointer-events: none;
}
.main-container .section__products__container .product__card__categories .product__category {
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0.4em 1em;
  border-radius: 12px;
  letter-spacing: 0.25px;
  display: inline-block;
  background-color: rgb(255, 208, 0);
  color: #222;
}
.main-container .section__products__container .product__card__categories .product__category:last-child {
  margin-right: 0;
}
.main-container .section__products__container .product__card__settings .product__add-to-shopping-cart {
  width: 30px;
  height: 30px;
  background-color: #222;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-container .section__products__container .product__card__settings .product__add-to-shopping-cart:hover {
  background-color: white;
  color: #222;
}
.main-container .section__products__container .product__card__settings .product__add-to-shopping-cart:hover::after {
  opacity: 1;
  visibility: visible;
}
.main-container .section__products__container .product__card__settings .product__add-to-shopping-cart::after {
  content: "Dodaj do koszyka";
  position: absolute;
  color: #EEE;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: calc(100% + 5px);
  right: -5px;
  border-radius: 6px;
  padding: 0.6em 0.8em;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.main-container .section__products__container .product__card__settings .product__add-to-shopping-cart .material-symbols-outlined {
  font-size: 15px;
  margin-top: 1px;
  margin-left: 1px;
}
.main-container .section__products__container .product__card__settings .product-not-available {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: not-allowed;
}
.main-container .section__products__container .product__card__settings .product-not-available:hover {
  background-color: #666;
  border: 1px solid #666;
  color: #BBB;
}
.main-container .section__products__container .product__card__settings .product-not-available:hover::before {
  background-color: #BBB;
}
.main-container .section__products__container .product__card__settings .product-not-available::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: rotate(-45deg);
  transition: 0.3s ease-in-out;
}
.main-container .section__products__container .product__card__settings .product-not-available::after {
  content: "Niedostępne";
}
.main-container .section__products__container .product__card__main {
  pointer-events: none;
}
.main-container .section__products__container .product__card__prev-price {
  color: #BBB;
  font-size: 14px;
  text-decoration: line-through;
}
.main-container .section__products__container .product__card__price {
  font-size: 22px;
  color: white;
  font-weight: 700;
}
.main-container .section__products__container .product__card__title {
  color: #DDD;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}
.main-container .section__products__container .product__card__description {
  color: #BBB;
  font-size: 14px;
  margin-top: 0.5em;
  line-height: 18px;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .main-container .section__products__container .product__card__description {
    max-height: 50px;
  }
}
.main-container .section__products__container .product__card {
  -webkit-animation: fadeUp 1s ease-in-out;
          animation: fadeUp 1s ease-in-out;
}
@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
  }
}
.main-container .section__search {
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  gap: 6rem;
}
@media screen and (max-width: 992px) {
  .main-container .section__search {
    flex-direction: column;
    gap: 4rem;
  }
}
.main-container .section__search__form {
  flex: 1;
}
.main-container .section__search__form__header .search__form__title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.main-container .section__search__form__header .search__form__text {
  font-size: 15px;
  color: #444;
}
.main-container .section__search__form__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
@media screen and (max-width: 1500px) {
  .main-container .section__search__form__main {
    display: block;
  }
}
.main-container .section__search__form__main div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 1500px) {
  .main-container .section__search__form__main div {
    margin-top: 1rem;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 393px) {
  .main-container .section__search__form__main div {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .main-container .section__search__form__main div a {
    width: 100%;
  }
}
.main-container .section__search__form__main input[type=text] {
  border-radius: 24px;
  border: 1px solid #DDD;
  padding: 0.6rem 1.5rem;
  width: 400px;
}
@media screen and (max-width: 500px) {
  .main-container .section__search__form__main input[type=text] {
    width: 100%;
    font-size: 13px;
    padding: 0.8rem;
  }
}
.main-container .section__search__form__main input[type=button] {
  padding: 8px 35px;
  border-radius: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #444;
  border: 1px solid #444;
  color: white;
  margin-left: 1.5rem;
}
.main-container .section__search__form__main input[type=button]:hover {
  border: 1px solid #888;
  background-color: #888;
}
@media screen and (max-width: 1500px) {
  .main-container .section__search__form__main input[type=button] {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .main-container .section__search__form__main input[type=button] {
    width: 100%;
    font-size: 13px;
    padding: 0.8rem;
  }
}
.main-container .section__search__form__main .search__form__element {
  display: inline-block;
  margin: 0 1rem;
  font-size: 15px;
  color: #444;
}
@media screen and (max-width: 500px) {
  .main-container .section__search__form__main .search__form__element {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
.main-container .section__search__form__main button {
  padding: 8px 35px;
  border-radius: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #444;
  border: 1px solid #444;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.main-container .section__search__form__main button:hover {
  border: 1px solid #888;
  background-color: #888;
}
@media screen and (max-width: 500px) {
  .main-container .section__search__form__main button {
    width: 100%;
    font-size: 13px;
    padding: 0.8rem;
  }
}
.main-container .section__search__product__categories {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-content: flex-start;
}
@media screen and (max-width: 992px) {
  .main-container .section__search__product__categories {
    justify-content: flex-start;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .main-container .section__search__product__categories a {
    width: 100%;
  }
}
.main-container .section__search__product__categories .search__product__category {
  padding: 8px 35px;
  border-radius: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #BBB;
  color: #888;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 12px;
  -webkit-animation: fadeUp 1s ease-in-out;
          animation: fadeUp 1s ease-in-out;
}
@media screen and (max-width: 992px) {
  .main-container .section__search__product__categories .search__product__category {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .main-container .section__search__product__categories .search__product__category {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 0.8rem;
  }
}
.main-container .section__search__product__categories .search__product__category:first-child {
  margin-left: 0;
}
.main-container .section__search__product__categories .search__product__category:hover {
  background-color: #444;
  border: 1px solid #444;
  color: white;
}
.main-container .center-item {
  justify-content: center;
  align-items: center;
}
.main-container .section-season-offer {
  height: 600px;
  background-color: #222;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .main-container .section-season-offer {
    height: auto;
  }
}
.main-container .section-season-offer a {
  text-decoration: none;
  color: inherit;
}
.main-container .section-season-offer .season-offer__container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 4rem;
  position: relative;
}
@media screen and (max-width: 1500px) {
  .main-container .section-season-offer .season-offer__container {
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .main-container .section-season-offer .season-offer__container {
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 6rem 1.5rem;
  }
}
.main-container .section-season-offer .season-offer__container::before {
  content: "";
  position: absolute;
  width: 900px;
  height: 100%;
  border-radius: 24px 24px 0px 0px;
  left: -25%;
  background: linear-gradient(to left, rgba(45, 45, 45, 0.2392156863), #2D2D2D, transparent);
  bottom: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.main-container .section-season-offer .season-offer__container::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 90%;
  border-radius: 0px 0px 24px 24px;
  right: 3%;
  background: linear-gradient(to bottom, #2D2D2D, rgba(45, 45, 45, 0.4509803922), transparent);
  top: -5rem;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.main-container .section-season-offer .product-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .section-season-offer .product__card {
  padding: 1.25rem;
  border-radius: 24px;
  height: 400px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-animation: fadeUp 1s ease-in-out;
          animation: fadeUp 1s ease-in-out;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .main-container .section-season-offer .product__card {
    height: 700px;
  }
}
.main-container .section-season-offer .product__card:hover {
  transform: translateY(5px);
}
.main-container .section-season-offer .product__card:hover .product__card__description {
  max-height: 50px;
}
.main-container .section-season-offer .product__card:hover .product__card__image {
  transform: scale(1.05);
}
.main-container .section-season-offer .product__card a {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.main-container .section-season-offer .product__card__image {
  background-color: #EEE;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  transition: 0.45s ease-in-out;
}
.main-container .section-season-offer .product__card__image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
}
.main-container .section-season-offer .product__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .section-season-offer .product__card__header {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.main-container .section-season-offer .product__card__categories {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;
  pointer-events: none;
}
.main-container .section-season-offer .product__card__categories .product__category {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  letter-spacing: 0.25px;
  display: inline-block;
  background-color: rgb(255, 208, 0);
  color: #222;
}
.main-container .section-season-offer .product__card__categories .product__category:last-child {
  margin-right: 0;
}
.main-container .section-season-offer .product__card__settings .product__add-to-shopping-cart {
  width: 30px;
  height: 30px;
  background-color: #222;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main-container .section-season-offer .product__card__settings .product__add-to-shopping-cart:hover {
  background-color: white;
  color: #222;
}
.main-container .section-season-offer .product__card__settings .product__add-to-shopping-cart:hover::after {
  opacity: 1;
  visibility: visible;
}
.main-container .section-season-offer .product__card__settings .product__add-to-shopping-cart::after {
  content: "Dodaj do koszyka";
  position: absolute;
  color: #EEE;
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: calc(100% + 5px);
  right: -5px;
  border-radius: 6px;
  padding: 0.6rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.main-container .section-season-offer .product__card__settings .product__add-to-shopping-cart .material-symbols-outlined {
  font-size: 15px;
  margin-top: 1px;
  margin-left: 1px;
}
.main-container .section-season-offer .product__card__settings .product-not-available {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: not-allowed;
}
.main-container .section-season-offer .product__card__settings .product-not-available:hover {
  background-color: #666;
  border: 1px solid #666;
  color: #BBB;
}
.main-container .section-season-offer .product__card__settings .product-not-available:hover::before {
  background-color: #BBB;
}
.main-container .section-season-offer .product__card__settings .product-not-available::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: rotate(-45deg);
  transition: 0.3s ease-in-out;
}
.main-container .section-season-offer .product__card__settings .product-not-available::after {
  content: "Niedostępne";
}
.main-container .section-season-offer .product__card__main {
  z-index: 1;
  pointer-events: none;
}
.main-container .section-season-offer .product__card__prev-price {
  color: #BBB;
  font-size: 14px;
  text-decoration: line-through;
}
.main-container .section-season-offer .product__card__price {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.main-container .section-season-offer .product__card__title {
  color: #DDD;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}
.main-container .section-season-offer .product__card__description {
  color: #BBB;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0.5rem;
  max-height: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .main-container .section-season-offer .product__card__description {
    max-height: 250px;
  }
}
.main-container .section-season-offer .season-offer-content {
  flex: 1;
  z-index: 2;
  -webkit-animation: fadeUp 1s ease-in-out;
          animation: fadeUp 1s ease-in-out;
}
.main-container .section-season-offer .season-offer-content .season-offer__main-title {
  width: 80%;
  color: rgb(255, 208, 0);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.35rem;
  position: relative;
}
.main-container .section-season-offer .season-offer-content .season-offer__main-title::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 35%;
  top: 50%;
  margin-left: 20px;
  background: linear-gradient(to right, rgb(255, 208, 0), transparent);
}
.main-container .section-season-offer .season-offer-content .season-offer__status {
  background-color: rgb(255, 208, 0);
  padding: 0.6rem 1.5rem;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 14px;
  margin-bottom: 4rem;
  display: inline-block;
}
.main-container .section-season-offer .season-offer-content .season-offer__title {
  color: #DDD;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.main-container .section-season-offer .season-offer-content .season-offer__description {
  color: #999;
  font-size: 15px;
  padding-right: 4rem;
}
.main-container .center-item {
  justify-content: center;
  align-items: center;
}
.main-container .center-item::before {
  opacity: 0;
  visibility: hidden;
}
.main-container .center-item::after {
  opacity: 0;
  visibility: hidden;
}
@keyframes fadeUp {
  from {
    opacity: 0;
  }
}
.main-container .section-aboutus {
  background-color: rgb(248, 248, 248);
  height: 600px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main-container .section-aboutus {
    height: auto;
  }
}
.main-container .section-aboutus .aboutus__container {
  padding: 4rem 0;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 1500px) {
  .main-container .section-aboutus .aboutus__container {
    margin: 0 1.5rem;
  }
}
.main-container .section-aboutus .aboutus__container .container__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.main-container .section-aboutus .aboutus__container .container__text {
  font-size: 15px;
  color: #444;
  text-align: center;
}
.main-container .section-aboutus .aboutus__container .container__image {
  width: 80%;
  height: 400px;
  background-color: #DDD;
  border-radius: 12px;
  overflow: hidden;
  z-index: 2;
  margin-top: 4rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1500px) {
  .main-container .section-aboutus .aboutus__container .container__image {
    width: 90%;
  }
}
.main-container .section-aboutus .aboutus__container .container__image .image-element {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .section-partners {
  max-width: 1500px;
  margin: 0 auto;
  height: auto;
  padding: 6rem 0;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .main-container .section-partners {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .main-container .section-partners {
    padding: 5rem 0;
    height: auto;
  }
}
.main-container .section-partners .partners__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  position: relative;
  display: inline-block;
}
.main-container .section-partners .partners__title::before {
  content: "";
  position: absolute;
  width: 20vw;
  height: 1px;
  background-color: #DDD;
  right: 115%;
  top: 50%;
}
.main-container .section-partners .partners__title::after {
  content: "";
  position: absolute;
  width: 20vw;
  height: 1px;
  background-color: #DDD;
  left: 115%;
  top: 50%;
}
.main-container .section-partners .partners__text {
  font-size: 15px;
  color: #444;
  text-align: center;
}
.main-container .section-partners .partners__container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 1255px) {
  .main-container .section-partners .partners__container {
    justify-content: center;
  }
}
.main-container .section-partners .partners__container .container__partner {
  width: 180px;
  height: 80px;
  background-color: #EEE;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  overflow: hidden;
  font-weight: 500;
  color: #888;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.main-container .section-partners .partners__container .container__partner:hover {
  transform: translateY(5px);
}
.main-container .section-partners .partners__container .container__partner .image-element {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #AAA;
}/*# sourceMappingURL=MainPage.css.map */