.shopping-cart-table {
    width: calc(100% - 1rem);
    border-collapse: collapse;
    min-width: 350px;

    &__th {
        text-transform: uppercase;
        font-size: 11px;
        color: #AAA;
        font-weight: 600;
        padding: 0 0.5rem;
        padding-bottom: 1rem;
    }

    &__td {
        font-size: 13px;
        padding: 0.8rem 0.5rem;
    }

    .shopping-cart-table__th:first-child, 
    .shopping-cart-table__td:first-child {
        width: 35%;
    }

    .shopping-cart-table__th:nth-child(2), 
    .shopping-cart-table__td:nth-child(2) {
       width: 30%; 
    }

    .shopping-cart-table__th:nth-child(3), 
    .shopping-cart-table__td:nth-child(3) {
       width: 25%;
       text-align: center; 
    }

    .shopping-cart-table__th:last-child, 
    .shopping-cart-table__td:last-child {
        width: 10%;
    }

    .shopping-cart__product-image {
        width: 100%;
        height: 50px;
        background-color: #DDD;
        border-radius: 6px;
        background-color: #DDD;
        position: relative;
        overflow: hidden;

        .product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .shopping-cart__product-name {
        font-weight: 600;
        margin-top: 0.6rem;
    }

    .shopping-cart__product-description {
        display: flex;
        flex-wrap: wrap;

        .shopping-cart__product-addition {
            font-size: 10px;
            color: #999;
            letter-spacing: 0.35px;
            margin: 1px 0;
            margin-right: 1.25rem;
            text-transform: uppercase;
            position: relative;

            &::after {
                content: '-';
                position: absolute;
                margin-left: 0.5rem;
            }

            &:last-child::after {
                content: '';
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .shopping-cart__count-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .shopping-cart__count-down,
        .shopping-cart__count-up {
            background-color: #EEE;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: #DDD;
            }

            @media screen and (max-width: 500px) {
                width: 25px;
                height: 25px;
                border-radius: 25px;
            }

            .material-symbols-outlined {
                font-size: 13px;
                font-weight: 700;
                color: #666;
            }
        }

        .shopping-cart__count-value {
            padding: 0 1rem;
        }
    }

    .shopping-cart__product-delete {
        width: 30px;
        height: 30px;
        border: 1px solid #DDD;
        border-radius: 30px;
        user-select: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #DDD;

                .material-symbols-outlined {
                    color: #666;
                }
        }

            .material-symbols-outlined {
                font-size: 21px;
                color: #999;
                font-weight: 300;
                margin-top: -0.5px;
                transition: 0.3s ease-in-out;
            }
    }

}