@import '../../layout/grid';
@import '../../base/variables';

.error-container {
    @include grid;

    .main {
        max-width: 1000px;
        height: calc(100vh - 180px - 80px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .main__title {
            font-size: 32px;
            font-weight: 700;
        }
    
        .main__text {
            margin-top: 0.5rem;
            color: $third-text-color;
            text-align: center;
        }
    }

    @import '../../layout/Header/Header.scss';
    @import '../../layout/ShoppingCart/ShoppingCart.scss';

    @import '../../layout//Footer/Footer.scss';
}